/* CSS declarations go here */

.level {
    &.ERROR {
        color: red;
    }
    &.WARN {
        color: orange;
    }
    &.INFO {
        color: blue;
    }
    &.DEBUG {
        color: grey;
    }
}
